body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  padding-top: 80px; /* Adjust for fixed navbar */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  margin-bottom: 20px;
}

header,
.main-content,
footer {
  padding-left: 0px;
  padding-right:0;
}



